@model ControleDeCasos.Models.Caso

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reacao</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (!(ViewBag.Caso is null))
        {
            <div class="form-group">
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><span><b>Iniciais do Paciente:</b> @ViewBag.IniciaisPaciente - <b>Código de Controle do Caso:</b> @ViewBag.Controle </span>
            </div>
        }

        <div class="form-group">

            @Html.LabelFor(model => model.DataInicio, "Data de Início", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hospitalizado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Hospitalizado)
                    @Html.ValidationMessageFor(model => model.Hospitalizado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Severidade, "Severidade", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Severidade", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Severidade, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.Caso is null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CasoId, "Caso", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CasoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CasoId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @{int i = 0;}
        <div class="form-group">
            @Html.Label("Reações:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{string nomeGrupoTipoReacaoAtual = "";}
                @{string nomeGrupoTipoReacaoAnterior = "";}
                @{bool primeira = true;}
                @foreach (var item in ViewBag.TiposReacao)
                {
                    nomeGrupoTipoReacaoAtual = item.Group.Name;
                    if(String.Compare(nomeGrupoTipoReacaoAtual, nomeGrupoTipoReacaoAnterior) != 0){
                        if (!primeira) {
                            <br /><br />
                        }
                        <p>
                            <span>
                                <b>
                                    @nomeGrupoTipoReacaoAtual
                                </b>
                            </span>
                        </p>
                    }
                    <input type="checkbox"
                           name=@String.Concat("TipoReacaoSelect", i)
                           value="@item.Value"
                           @if (item.Selected == true) { <text> checked </text>  }
                            />
                    @item.Text
                    <br />
                    i++;
                    nomeGrupoTipoReacaoAnterior = item.Group.Name;
                    primeira = false;
                }

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à Listagem","Index", "Casos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
