@model ControleDeCasos.Models.Reacao

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Reacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caso.Controle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caso.Controle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoReacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoReacao.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ReacaoId }) |
    @Html.ActionLink("Voltar à Listagem", "Index")
</p>
