@model IEnumerable<ControleDeCasos.Models.Pais>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

<p>
    @Html.ActionLink("Criar Novo(a)", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PaisId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PaisId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.PaisId })
        </td>
    </tr>
}

</table>
